OPENAI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="rag-tracing"

# PostgreSQL (for Hybrid RAG + SQL Agent)
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_DB=amazon_products
POSTGRES_USER=bootcamp
POSTGRES_PASSWORD=bootcamp